---
layout: page
title: About / <i>Acerca de</i>
permalink: /about
---

<div class="c" lang="en"> <!-- The class="c" item is releated to CSS. It align:justify the text-->
      <p>The Digital Humanities have become a great opportunity to propose projects that focus on reflecting about human nature on a global scale. By employing digital mediation practices to promote effective collaboration, the Digital Humanites are able to synthesize a plurality of academic disciplines to achieve a greater scope and more naunced perspective on humanity.</p>
      <p>The group <strong>Team Candle</strong> was born in the course <i>Digital Publishing with Minimal Computing - Humanities at a Global Scale</i> where students from the University of Maryland (United States) work in collaboration with students from Latin America (Colombia and Argentina). The pandemic caused by COVID-19 has been the peculiar setting for the course participants, and this team in particular, to be able to discuss the conceptual principles of DH, learn some minimal computing tools and assume critical positions on the role of research in society.</p>
      <p>The goal of this interdisciplinary project is the creation of a digital edition with TEI of the fragment "A Description of Buenos Ayres", belonging to the text <i>An Account of a Voyage up the River de la Plata</i>, written by Acarete Du Biscay from the 17th century. The text offers us a critical look at various fields of study such as literary studies, digital publishing, history and postcolonial studies.</p>
  </div> 
<br>
<hr width=100%  align="right"  size=10   color="#135381">
<br>
  <div class="c" lang="es">
       <p><i>Las Humanidades Digitales se han convertido en una gran oportunidad para plantear proyectos a nivel mundial donde la reflexión sobre el ser humano, desde diferentes disciplinas, se combina con prácticas de mediación digital para lograr un mayor alcance y una efectiva colaboración de comunidades académicas plurales.</i></p>
<p><i>El grupo <strong>Team Candle</strong> nace en el curso</i> Digital Publishing with Minimal Computing - Humanities at a Global Scale<i> donde alumnos de la Universidad de Maryland (Estados Unidos) trabajan con la colaboración de alumnos de Latinoamérica (Colombia y Argentina). La pandemia provocada por la COVID-19 ha sido el peculiar escenario para que los participantes del curso, y de este equipo en particular, puedan dialogar en torno a los principios conceptuales de las HD, aprendan algunas herramientas de computación mínima y asuman posiciones críticas sobre el papel de la investigación en la sociedad.</i></p>
 <p><i>El objetivo de este proyecto interdisciplinar es la creación de una edición digital con TEI del fragmento "Descripción de Buenos Aires", pertenenciente al texto</i> Relación de un viaje al Río de la Plata, <i>escrito por Acarete Du Biscay en el siglo XVII. El texto nos ofrece una mirada crítica sobre diversos campos de estudio como son los estudios literarios, la edición digital, la historia y los estudios poscoloniales.</i></p>
    </div>