---
layout: default
title: Alexander Parsky
permalink: /alexander-parsky
---

<div class="c" lang="en">
    <h1>Alexander Parsky</h1>
    <br>
    <img class="avatares" src="/team-candle/assets/Alex_photo.jpg" alt="photo of alex"/>
    <br>
    <h2>Biography</h2>
<p>Alex is an undergraduate student at the University of Maryland majoring in creative writing and journalism. He is interested in screenwriting, drama, and comedy. He writes and directs short films, play, and sketch comedy. He is the creative director of The Bureau UMD's premiere comedy group</p>
<h3>Languages</h3>
    <ul>
        <li>English</li>
    </ul>
</div>
<br>
<hr width=100%  align="right"  size=10   color="#135381">
<br>
<div class="c" lang="es">
    <h2>Biografía</h2>
<p><i>Alex es estudiante de la Universidad de Maryland con especialización en escritura creativa y periodismo. Está interesado en la escritura de guiones, el drama y la comedia. Escribe y dirige cortometrajes, obras de teatro y sketches cómicos. Es el director creativo del primer grupo de comedia de The Bureau UMD.</i></p>
<h3>Idiomas</h3>
    <ul>
        <li>Inglés</li>
    </ul>
</div>
