---
layout: default
title: Cristian Suárez-Giraldo
permalink: /cristian-suarez
---

<div class="c" lang="en">
    <h1>Cristian Suárez-Giraldo</h1>
    <br>
    <img class="avatares" src="/team-candle/assets/cristiansphoto.jpg" alt="my photo"/>
    <br>
    <h2>Biography</h2>
<p>Cristian is magister in Philosophy from the Pontificia Bolivariana University. Has been a professor in the areas of hermeneutics, theory and literary criticism, of academic publishing. Actually is professor of the undergraduate literature at EAFIT University and editor of the EAFIT Editorial. In addition, works as a support editor on indexing and quality issues for publications at the same university.</p>
<p>His interest in the Digital Humanities consists of learning about the multiple ways to expand the meaning of intelligence and creative capacity of the human through the digital mediations and to collaborate in networks of academic and creative production.</p>
<h3>Languages</h3>
    <ul>
        <li>Spanish</li>
        <li>English</li>
    </ul>
</div>
<br>
<hr width=100%  align="right"  size=10   color="#135381">
<br>
<div class="c" lang="es">
    <h2>Biografía</h2>
<p><i>Cristian es magíster en Filosofía de la Universidad Pontificia Bolivariana. Ha sido profesor en los campos de hermenéutica, teoría y crítica literaria, de edición académica y digital. Actualmente es profesor del pregrado de literatura de la Universidad EAFIT y editor de la Editorial EAFIT. Además, se desempeña como editor de apoyo en temas de indexación y calidad para las publicaciones en la misma universidad.</i></p>
<p><i>Su interés por las Humanidades Digitales consiste en conocer las múltiples formas de expandir el significado de la inteligencia y la capacidad creativa del ser humano a través de las mediaciones digitales y colaborar en redes de producción académica y creativa.</i></p>
<h3>Idiomas</h3>
    <ul>
        <li>Español</li>
        <li>Inglés</li>
    </ul>
</div>