---
layout: tei
title: A Description of Buenos Ayres
document: acarete_EN.xml
---

<div>
    <p>Minimal digital edition of <a href="https://www.loc.gov/resource/rbc0001.2019gen17198/?st=gallery&c=160">"Description of Buenos Aires"</a> by <b>Acarete du Biscay</b>. Printed for Samuel Buckley in 1698, London.</p>

<ul style="list-style-type:square">
    <li><a href="/team-candle/print-edition" target="_blank">Printed version in English</a></li>
    <li><a href="/team-candle/_pages/descripcion_ES">Spanish digital version</a></li>
    <li><a href="./assets/pdf/Description-of-Buenos-Aires.pdf" download>Download PDF facsimile</a></li>
    </ul>
    <hr width=100%  align="right"  size=10   color="#135381">
</div>