---
layout: tei
title: Descripción de Buenos Aires
document: acarete_ES.xml
---

<div>
    <p>
        Edición digital mínima de "Descripción de Buenos Aires" escrita por <b>Acarete du Biscay</b>, editada 
        por <a href="http://www.bibliotecadigital.gob.ar/items/show/1385">La Revista de Buenos Aires</a> en Mayo de 1867. Notas y traducción del inglés al español por Daniel Maxwell.</p>
     <p>Edición TEI digitalizada y actualizada por Cristian Suárez-Giraldo y Rocío Méndez.</p>
    
    <ul style="list-style-type:square">
    <li><a href="/team-candle/edicion-impresa" target="_blank">Edición impresa en español</a></li>
    <li><a href="/team-candle/_pages/description_EN">Versión digital en inglés</a></li>
    <li><a href="./assets/pdf/Descripcion-de-Buenos-Aires.pdf" download>Descarga formato PDF</a></li>
    </ul>
    <hr width=100%  align="right"  size=10   color="#135381">
</div>    
