---
layout: default
title: Edición impresa
permalink: /edicion-impresa
---

<div>
    <p style="text-justify: auto;">Edición facsimilar de "Descripción de Buenos Aires", 
        en <i>Relación de un viaje al Rio de la Plata</i> (1867) de Acarete du Biscay. Traducida del inglés al español para la 
        Revista de Buenos Aires, por Daniel Maxwell.</p>

    <img class="PrintedImg" src="/team-candle/assets/images/acarete_castellano_1.jpg" alt="Foto de portada"/>
    <br>
    <img class="PrintedImg" src="/team-candle/assets/images/acarete_castellano_16.jpg" alt="Pagina 16"/>
    <br>
    <img class="PrintedImg" src="/team-candle/assets/images/acarete_castellano_17.jpg" alt="Pagina 17"/>
    <br>
    <img class="PrintedImg" src="/team-candle/assets/images/acarete_castellano_18.jpg" alt="Pagina 18"/>
    <br>
    <img class="PrintedImg" src="/team-candle/assets/images/acarete_castellano_19.jpg" alt="Pagina 19"/>
    <br>
    <img class="PrintedImg" src="/team-candle/assets/images/acarete_castellano_20.jpg" alt="Pagina 20"/>
    <br>
    <img class="PrintedImg" src="/team-candle/assets/images/acarete_castellano_21.jpg" alt="Pagina 21"/>
    <br>
    <img class="PrintedImg" src="/team-candle/assets/images/acarete_castellano_22.jpg" alt="Pagina 22"/>
</div>