---
layout: page
title: Editors note / <i>Nota de los editores</i>
permalink: /nota-editorial
---

<div class="c" lang="en">
    <p>Editing a text written in an earlier era, with a linguistic register that is quite alien to the contemporary 
        readers and with the added peculiarity of having been translated into several languages, creates a 
        particular challenge about what editorial decisions to make and how to present an edition of this text that preserves the 
        integrity of the time period in which it was written, and communicates history accumulated between one translation/version to
        another.</p>

    <p>The digital edition of the fragment "Description of Buenos Aires", included in Acarete du Biscay's 
    <i>Relación de un viaje al Río de la Plata</i>, which we now present, was designed so the readers can read 
        the text on any mobile or computer device with the greates ease possible. We hoped to eliminate all unnecessary mark ups that distract the reader's from the narrative and 
        deliver the text with the minimum number of annotations or comments. The editors prioritized the literary content and context of the 
        story which, being a first-person description of this New World, reflects that 
        phenomenological exchange of access to other worlds through written expression.</p>
        
    <p>The XML edition that we have prepared, under the TEI standard, also gives an account of the principles 
        that we assumed to code the edition. We took the Spanish and English versions of "Descripción 
        de Buenos Aires" and updated the words to the contemporary use and spelling of the language; for that 
        reason, the tags <code>reg</code>, <code>corr</code> and <code>sic</code> are present constantly. 
        In addition, according to the characteristics of the plot, in which the enunciation stands out, 
        we use the element <code>name</code> with the attributes <code>"country"</code>, <code>"place"</code>, <code>“placeGeog”</code>, 
        <code>“personRoleName”</code> and <code>"org"</code> and in which it stands out the enumeration we use the element attribute 
        <code>num</code> with the attributes <code>"type"</code> and <code>"value"</code>.
    </p>
        
    <p>Additionally, we incorporate the facsimile texts of the <a href="/team-candle/edicion-impresa/">Spanish (1867)</a> and <a href="/team-candle/print-edition/">English (1698)</a> versions and link to the 
        pages or repositories where they are hosted so that readers can compare the differences with the present 
        digital edition. As it is a historical archive document, having the versions in the same place will 
        allow academics and researchers to easily access them.
        </p>
</div>
<br>
<hr width=100%  align="right"  size=10   color="#135381">
<br>
<div class="c" lang="es">
    <p>Editar un texto inscrito en una época anterior, con un registro 
        lingüístico ajeno al uso contemporáneo de los lectores y con 
        la peculiaridad de haber sido traducido a varios idiomas, 
        significa un particular reto sobre qué decisiones tomar y cómo presentar una 
        edición que conserve el espíritu del tiempo en que fue escrito y la historia que 
        ha acumulado entre una y otra versión.
    </p>
    <p>
        La edición digital del fragmento “Descripción de Buenos Aires”, 
        perteneciente a <i>Relación de un viaje al Río de la Plata</i> de Acarete du Biscay, 
        que ahora presentamos, fue diseñada para que los lectores puedan leer el texto en 
        cualquier dispositivo móvil o de cómputo, sin marcas especiales que distraigan su 
        atención y con el mínimo número de anotaciones o comentarios. Los editores apelamos 
        al contenido literario del relato que, al ser una descripción dicha en primera 
        persona ante la novedad de un nuevo mundo, refleja ese trazo fenomenológico del acceso 
        a otros mundos a través de la expresión sencilla.
    </p>
    <p>
        La edición XML que hemos preparado, bajo el estándar TEI, también da 
        cuenta de los principios que asumimos para codificar en la presente edición. 
        Tomamos las versiones en español y en inglés de “Descripción de Buenos Aires” y 
        actualizamos las palabras al uso y ortografía contemporáneos de la lengua; 
        por tal razón, las etiquetas <code>reg</code>, <code>corr</code> y <code>sic</code> están presentes de manera constante.
        Además, de acuerdo con las características de la trama, en la que sobresale la enunciación, usamos el elemento <code>name</code> con los 
        atributos <code>"country"</code>, <code>"place"</code>, <code>“placeGeog”</code>, <code>“personRoleName”</code> y <code>"org"</code> y en los que se destaca la enumeración utilizamos el 
        elemento <code>num</code> con los atributos <code>"type"</code> y <code>"value"</code>.
    </p>
    <p>
        Adicionalmente, incorporamos los textos facsimilares de las versiones en <a href="/team-candle/edicion-impresa/">español (1867)</a> 
        y en <a href="/team-candle/print-edition/">inglés (1698)</a> y en enlace a las páginas o repositorios donde se encuentran alojados 
        para que los lectores puedan comparar las diferencias con la presente edición digital. 
        Al tratarse de un documento de archivo histórico, disponer las versiones en un 
        mismo sitio permitirá que académicos e investigadores puedan acceder fácilmente a ellas.
        </p>
</div>