---
layout: page
title: Editorial Team / <i>Equipo editorial</i>
permalink: /editorial-team
---

<br>
<div class="content">
<div class="item">
<img class="avatares" src="/team-candle/assets/cristian1x1.jpg" alt="my photo"/>
<a href="/team-candle/cristian-suarez" target="_blank">Cristian Suárez-Giraldo</a>
</div>

<div class="item">
<img class="avatares" src="/team-candle/assets/morgan1x1.jpg" alt="photo-morgan"/>
<a href="/team-candle/morgan-marshall" target="_blank">Morgan Marshall-Mckinney</a>
</div>

<div class="item">
    <img class="avatares" src="/team-candle/assets/alex1x1.jpg" alt="photo of alex"/>
    <a href="/team-candle/alexander-parsky" target="_blank">Alexander Parsky</a>
</div>

<div class="item">
<img class="avatares" src="/team-candle/assets/rocio1x1.jpg" alt="foto-rocio"/>
<a href="/team-candle/rocio-mendez" target="_blank">Rocío Méndez</a>
</div>
</div>