---
layout: default
permalink: /
---

<img src="/team-candle/assets/riodelaplata.jpg" alt="foto de portada"/>

<div class="c" lang="en"> <!-- The class="c" item is releated to CSS. It align:justify the text-->
  <p><strong>Acarete Du Biscay</strong> made two trips to the Río de la Plata, the first in 1657 and the second around 1660. 
  In his <i>An Account of a Voyage up the River de la Plata</i> he describes the city of Buenos Aires and his travels to Peru.
  <br>
  This site contains a <u>minimal</u> digital edition of "Description of Buenos Aires" where <strong>Acarete</strong> characterizes the inhabitants of Buenos Aires; both 
   the indigenous people and the European immigrants of the city. He also reports on the commerce, fertility and wealth of the New World.</p>
</div>
<hr width=100%  align="right"  size=10   color="#135381">
<div class="c" lang="es">
  <p><i><strong>Acarete Du Biscay</strong> realizó dos viajes al Río de la Plata, el primero en 1657 y el segundo hacia 1660. 
  En su </i>Relación de un viaje al Río de la Plata <i>describe la Ciudad de Buenos Aires y su viaje a Perú.
  <br>
  Este sitio aloja una edición digital <u>mínima</u> de</i> "Descripción de Buenos Aires" <i>donde <strong>Acarete</strong> refiere a sus habitantes, 
  indígenas e inmigrantes europeos como también a la ciudad, el comercio, la fertilidad y las riquezas del Nuevo Mundo.</i></p>
</div>

<div class="navigation">

<p><img class="ImgMiniatura" src="/team-candle/assets/images/acarete_castellano_1.jpg" alt="portada ES"/>
<a href="/team-candle/_pages/descripcion_ES">Versión en Español /<br> <i>Spanish version</i></a></p>
<p><img class="ImgMiniatura" src="/team-candle/assets/images/acarete_english_1.jpg" alt="portada EN"/>
<a href="/team-candle/_pages/description_EN">Versión en Inglés /<br> <i>English version</i></a></p>
</div>