---
layout: default
title: Morgan Marshall-Mckinney
permalink: /morgan-marshall
---

<div class="c" lang="en">
    <h1>Morgan Marshall-Mckinney</h1>
    <br>
    <img class="avatares" src="/team-candle/assets/morgan-photo.jpg" alt="photo-morgan"/>
    <br>
    <h2>Biography</h2>
<p>Morgan is an undergraduate student at the University of Maryland College  Park. She is currently pursuing her bachelor of arts in English with a concentration in media studies and two minors in Rhetoric Communication Studies and Arts Leadership. Morgan is also a tarot card reader on Youtube "Mo Victorious".</p>
    <h2>Languages</h2>
    <ul>
        <li>English</li>
    </ul>
</div>
<br>
<hr width=100%  align="right"  size=10   color="#135381">
<br>
<div class="c" lang="es">
    <h2>Biografía</h2>
<p><i>Morgan es estudiante de pregrado en la Universidad de Maryland College Park. Actualmente está cursando su licenciatura en artes en inglés con una concentración en estudios de medios y está haciendo dos minors en estudios de comunicación retórica y liderazgo artístico. Morgan tiene un canal de YouTube (Mo Victorious) donde hace lecturas de Tarot.</i></p>
<h2>Idiomas</h2>
    <ul>
        <li>Inglés</li>
    </ul>
</div>