---
layout: default
title: Print edition
permalink: /print-edition
---

<div>
    <p style="text-justify: auto;">Facsimile edition of "Description of Buenos Aires" by Mons. <b>Acarete du Biscay</b>.<br>
 Printed for Samuel Buckley, at the Dolphin over against St. Dunftans Church in Fleet Street. London. 1698.</p>

    <img class="PrintedImg" src="/team-candle/assets/images/acarete_english_1.jpg" alt="Foto de portada"/>
    <br>
    <img class="PrintedImg" src="/team-candle/assets/images/acarete_english_16.jpg" alt="Pagina 16"/>
    <br>
    <img class="PrintedImg" src="/team-candle/assets/images/acarete_english_17.jpg" alt="Pagina 17"/>
    <br>
    <img class="PrintedImg" src="/team-candle/assets/images/acarete_english_18.jpg" alt="Pagina 18"/>
    <br>
    <img class="PrintedImg" src="/team-candle/assets/images/acarete_english_19.jpg" alt="Pagina 19"/>
    <br>
    <img class="PrintedImg" src="/team-candle/assets/images/acarete_english_20.jpg" alt="Pagina 20"/>
    <br>
    <img class="PrintedImg" src="/team-candle/assets/images/acarete_english_21.jpg" alt="Pagina 21"/>
    <br>
    <img class="PrintedImg" src="/team-candle/assets/images/acarete_english_22.jpg" alt="Pagina 22"/>
    <br>
    <img class="PrintedImg" src="/team-candle/assets/images/acarete_english_23.jpg" alt="Pagina 23"/>
    <br>
    <img class="PrintedImg" src="/team-candle/assets/images/acarete_english_24.jpg" alt="Pagina 24"/>
</div>