---
layout: default
title: Rocío Méndez
permalink: /rocio-mendez
---


<div class="c" lang="en">
    <h1>Rocío Méndez</h1>
    <br>
    <img class="avatares" src="/team-candle/assets/rocio-fotoperfil.jpg" alt="foto-rocio"/>
    <br>
    <h2>Biography</h2>
    <p>Rocío is pursuing her bachelor's degree in literature at the Buenos Aires University, Argentina. 
    Her field of study is Medieval Hispanic Literature. Her interest in Digital Humanities is focused on the Digital Scholarly editions through the use of the TEI tool.
    Currently she serves as a contributor of <i> Reis Trobadors project: from philological-musicological research to performance</i> under the direction of Dra. Gimena del Rio learning about XML markup and digital editions.</p>
    <h2>Languages</h2>
    <ul>
        <li>Spanish</li>
        <li>English</li>
        <li>Italian</li>
    </ul>
</div>
<br>
<hr width=100%  align="right"  size=10   color="#135381">
<br>
<div class="c" lang="es">
    <h2>Biografía</h2>
    <p><i>Rocío es estudiante de la Licenciatura y Profesorado de Letras en la Universidad de Buenos Aires, Argentina. Su linea de investigación se centra en la Literatura Hispánica Medieval.
    Su interés en las Humanidades Digitales se centra en la edición digital de textos a través del uso de la herramienta TEI.
    Actualmente participa como colaboradora en el proyecto </i>Reis Trobadors: de la investigación filológico- musicológica a la performance<i> bajo la dirección de la Dra. Gimena del Rio, aprendiendo sobre marcado XML y ediciones digitales.</i></p>
    <h2>Idiomas</h2>
    <ul>
        <li>Español</li>
        <li>Inglés</li>
        <li>Italiano</li>
    </ul>
</div>