---
layout: page
title: Team charter / <i>Contrato de equipo</i>
permalink: team-candle-charter
---

<div class="c"> <!-- The class="c" item is releated to CSS. It align:justify the text-->
<p>Last updated / <i>Última actualización</i>: 2020-10-19</p>
<p>Group name / <i>Nombre del Equipo</i>: <strong>Team Candle</strong></p>
<br>
<h1>Roles / <i>Roles</i></h1>
<p>Technical leader / <i>Líder técnico</i>: Cristian Suárez-Giraldo</p>
<p>Submitter / <i>Encargada de envíos</i>: Rocío Méndez</p>
<br>
<h1>Team Members / <i>Integrantes del equipo</i></h1>
<p><a href="/team-candle/cristian-suarez" target="_blank">Cristian Suárez-Giraldo</a>, (he/him/él), Medellín (Colombia), Technical leader / <i>Líder técnico.</i></p>
<p><a href="/team-candle/rocio-mendez" target="_blank">Rocío Méndez</a>, (she/her/ella), Buenos Aires (Argentina), Submitter / <i>Encargada de envíos.</i></p>
<p><a href="/team-candle/morgan-marshall" target="_blank">Morgan Marshall-McKinney</a>, (she/her/ella), Maryland (US), Contributor / <i>Colaboradora.</i></p>
<p><a href="/team-candle/alexander-parsky" target="_blank">Alexander Parsky</a>, (he/him/él), Maryland (US), Contributor / <i>Colaborador.</i></p>
<br>
<h1>Goals / <i>Objetivos</i></h1>
<h2>Group Goals / <i>Objetivos grupales</i>:</h2>
<ul>
<li>To communicate effectively through Slack. / <i>Comunicarse de manera efectiva a través de Slack.</i></li>
<li>Find time to work as a group, despite time differences. / <i>Encontrar tiempo para trabajar como equipo, a pesar de las diferencias horarias.</i></li>
<li>Collaborate effectively as part of an international and multilingual team. / <i>Colaborar eficazmente como parte de un equipo internacional y multilingüe.</i></li>
<li>Listen and search different viewpoints. / <i>Escuchar y buscar diferentes puntos de vista.</i></li>
<li>Gain some computational tools for digital text editing. / <i>Obtener herramientas computacionales para la edición de textos digitales.</i></li>
</ul>
<br>
<h2>Individual Goals / <i>Objetivos individuales</i>:</h2>
<h3>Alex:</h3>
<ul>
<li>Develop a multifaceted website that delivers digital humanity content in an aesthetically pleasing way. / <i>Desarrollar un sitio web multifacético que ofrezca contenido humanístico digital de una manera estéticamente agradable.</i></li>
<li>Create a digital edition. / <i>Crear una edición digital.</i></li>
<li>Collaborate effectively with the team. / <i>Colaborar eficazmente con el equipo.</i></li>
</ul>
<h3>Cristian:</h3>
<ul>
<li>Know how to work texts digital mediation. / <i>Saber cómo trabajar textos con mediación digital.</i></li>
<li>Explore new digital outreach tools. / <i>Explorar nuevas herramientas de divulgación digital.</i></li>
<li>Develop proposals for Digital Humanities. / <i>Desarrollar propuestas de Humanidades Digitales.</i></li>
<li>Be part of the Digital Humanities community. / <i>Ser parte de la comunidad de las Humanidades Digitales.</i></li>
</ul>
<h3>Morgan:</h3>
<ul>
<li>Know how to use GitLab. / <i>Aprender a usar GitLab.</i></li>
<li>Ask Questions and be sure to communicate with Team Candle. / <i>Hacer preguntas y estar segura de comunicarme con Team Candle.</i></li>
<li>Developing and cultivating the value of Digital Humanities. / <i>Desarrollar y cultivar el valor de las Humanidades Digitales.</i></li>
</ul>
<h3>Rocío:</h3> 
<ul>
<li>Deepen the learning of Digital Humanities focused in literary studies, digital publishing and an interdisciplinary way with other areas of study. / <i>Profundizar el aprendizaje de las Humanidades Digitales enfocadas en estudios literarios, publicación digital y de modo interdisciplinar con otras áreas de estudio.</i></li>
<li>Be part of a multilingual work team and work efficiently all together. / <i>Ser parte de un equipo de trabajo multilingüe y trabajar todos juntos de manera eficiente.</i></li>
<li>Learn to code. / <i>Aprender a codificar.</i></li>
<li>Gain the skills in managing a digital project. / <i>Adquirir las habilidades necesarias para llevar a cabo un proyecto digital.</i></li>
<li>Be part of the Digital Humanities community. / <i>Ser parte de la comunidad de las Humanidades Digitales.</i></li>
</ul>
<br>
<h1>Core Values / <i>Fundamentos</i></h2>
<p><i>Slack</i> will be our use of communication. 
To be sure that everyone is on the same page each person is accountable for communicating how we can get our group assignments done. 
Communicating truthfully about any trouble you may be having while using this new technology. It is expected for all of us to work together by effectively communicating our goals for each week. 
We will keep each other accountable by pointing out each group members duty or assignment on slack. 
We will give notice about the changes we make in the group work, so as not to create inconveniences in the work of another member of the group.
</p>
<p><i>Slack será nuestro medio de comunicación. Para asegurarnos de que todos estén en la misma página, cada persona es responsable de comunicar cómo podemos hacer nuestras asignaciones grupales.
Comunicaremos con sinceridad cualquier problema que podamos tener al usar esta nueva tecnología.
Se espera que todos trabajemos juntos comunicando eficazmente nuestras metas para cada semana.
Nos haremos responsables unos de otros, señalando la meta o asignación que cada miembro del grupo debe alcanzar.
Daremos aviso sobre cualquier cambio que hagamos en el trabajo en grupo, para no crear inconvenientes en el trabajo de otro miembro.</i></p>
<br>
<h1>Team management / <i>Gestión del equipo</i></h1>
<p>Our media will be Slack, through chat “teamcandle”. We will meet virtually when the slack communication becomes ineffective or we have not completed a specific goal. Due to our schedules not being able to meet a middle ground. 
Decision making will be made by communicating our questions and suggestions through Slack and in breakout classes.</p>

<p><i>Nuestro medio de comunicación será Slack, a través del chat “teamcandle”. Nos encontraremos virtualmente cuando la comunicación se vuelva ineficaz o no hayamos completado alguna meta específica. Debido a nuestros horarios no pudimos encontrar un término medio.
La toma de decisiones se realizará comunicando nuestras preguntas y sugerencias a través de Slack y en las clases grupales.</i></p>
<br>
<h1>Ethos / <i>Ethos</i></h1>
<ul>
<li>The creativity opens our minds and the codes. / <i>La creatividad abre nuestras mentes y los códigos.</i></li>
<li>Alone we can do so little; together we can do so much. / <i>Solos podemos hacer poco; juntos podemos hacer más.</i></li>
<li>It’s better to enjoy the process; not only the final products. / <i>Es mejor disfrutar el proceso; no solo los productos finales.</i></li>
</ul>
</div>