---
sitemap: false
---


/*
  Common Variables

  Feel free to change!
*/

/* Fonts */
$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$heading-font: serif;
$regular-font-size: 1.25em; /* 20px / 16px = 1.25em; support text resizing in all browsers */


/*
  Color

  Make sure to leave color-scheme in `_config.yml` file empty for granular control
*/

$text-color: #000000;
$heading-color: #be4d4d;
$link-color: #135381;

@import "ed";
@import "syntax";
@import "CETEIcean.css";

.avatares {
  border-radius: 10%;
  width: 250px;
  display: float;
margin:auto;
}

div.c {
  text-align: justify;
}

.ImgMiniatura {
  width: 200px;
  margin: 30px 30px 30px 0;
  float: center;
  border-radius: 10%;
}

.PrintedImg {
  border-radius: 5%;
  display:block;
margin:auto;
}


.bio {

  text {
    float: right;
    text-align: justify;
    font-size: large;
  }

  img {
    float: none;
    max-width: 250px;
    margin-bottom: 0;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10%;
  } 
} 



.content{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;
}

.item{
  margin: 30px 20px;
  text-align:center;
}

.navigation {
  display: flex;
  justify-content: normal;
  align-items: center;
  margin-top: 0px;
}